/**
 * CSS for the new image controls
 */

.hidden-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: -1;
}

.fab::after,
.fab::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.fab::before {
    background: rgba(0, 0, 0, 0.15);
}
.fab::after {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.fab:hover::after,
.hidden-input:focus + .fab::after,
.hidden-input:focus + .fab::before,
.hidden-input.focus + .fab::after,
.hidden-input.focus + .fab::before {
    opacity: 1;
}
.hidden-input:focus + .fab,
.hidden-input.focus + .fab {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.toolbar-button {
    position: relative;
}
.btn-label {
    position: absolute;
    top: 100%;
    right: 0;

    border-radius: 3px;
    opacity: 0;
    background: #616161;
    font-size: 0.8em;
    line-height: 1.375rem;
    padding: 0 0.5rem;
    margin-top: 0.9rem;
    transition: opacity 0.15s ease-out;
}
.btn-label.left {
    left: 0;
    right: auto;
}
.btn-label.top {
    top: auto;
    bottom: 100%;
    margin-bottom: 0.9rem;
}
.toolbar-button:hover .btn-label,
.toolbar-button:focus .btn-label,
.fab:hover .btn-label,
.fab:focus .btn-label {
    opacity: 0.9;
}
