body {
  overflow: hidden;
}

#history {
  box-shadow: inset -1px 0 3px rgba(0, 0, 0, 0.2);
}

#palette {
  display: grid;
  grid-template-rows: max-content auto max-content;
  position: absolute;
  top: 0;
  z-index: 2;
  transform: translateX(-100%);
  transition: transform 0.2s ease;
}
#palette.is-open {
  transform: none;
}

.palette-image {
  display: block;
  min-height: 5rem;
  max-width: calc(100% - 1rem);
  max-height: calc(100% - 3rem);
  margin: 1rem auto;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.palette-colors {
  display: grid;
  padding: 1rem;

  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  font-size: 0.75rem;
}
.palette-colors .swatch {
  position: relative;
  width: 100%;
  padding-top: 100%;

  text-align: center;
}
.swatch-text {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;

  font-size: 1rem;
  transform: translateY(-50%);
  font-weight: bold;
}
.palette-colors .swatch::after {
  content: attr(title);
}

@media (min-width: 900px) {
  .palette-colors {
    grid-template-columns: repeat(6, 1fr);
  }
}
