/**
 * CSS for the Palette panel
 */

#history {
  box-shadow: inset -1px 0 3px rgba(0, 0, 0, 0.2);
}

#palette {
  display: grid;
  grid-template-rows: max-content auto max-content;

  position: fixed;
  top: 0;
  z-index: 1;
  background: black;
  transform: translateX(-100%);
  transition: transform 0.2s ease;
}
#palette.is-open {
  transform: none;
}

.transparent-toolbar {
  box-shadow: none;
  background: transparent;
}

.palette-image {
  display: block;
  min-height: 5rem;
  max-width: 100%;
  max-height: 100%;
  margin: auto;

  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.palette-colors {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto repeat(3, 1fr);
  grid-template-areas:
    'controls controls'
    'dark-vibrant dark-muted'
    'vibrant muted'
    'light-vibrant light-muted';

  text-align: right;
  font-family: monospace;
}
.palette-color-controls {
  grid-area: controls;
  justify-content: flex-end;
}
.color-display {
  color: #333;
}

.swatch-description {
  display: block;
  padding-top: 2em;

  opacity: 0;
  transition: opacity 0.2s ease;
}
.swatch:hover .swatch-description {
  opacity: 0.9;
}
.palette-colors:hover .swatch-description {
  will-change: opacity;
}

#palette.is-open + .new-palette-entry {
  transform: none;
}

@media (min-width: 700px) {
  .palette-colors > .swatch {
    transition: background-color 0.3s ease;
  }
}
@media (max-width: 700px) {
  .fab {
    transform: none;
    transition: transform 0.3s ease;
  }
  .is-open + .new-palette-entry > .fab {
    transform: scale(0);
  }
}
