@media (min-width: 700px) {
    #palette {
        transform: none;
        position: static;
    }
    .container {
        display: grid;
        grid-template-columns: 1fr 66%;
    }
    .fab {
        right: calc(66% + 1rem);
    }
    .back {
        display: none;
    }
    #history {
        height: 100vh;
    }
}
